@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.container {
  max-width: 100%;
  min-width: 320px;
}

.wrap {
  max-width: 1440px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 70px;
  background-color: white;
}

.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 700px;
  background: radial-gradient(145.57% 615.49% at 113.55% -5.39%, #4CDA35 0%, #FAD867 24.27%, #55E19E 100%);
  z-index: -1;
}

.header_wrap {
  display: flex;
  align-items: stretch;
}

.logo {
  display: block;
  margin: auto 5%;
  margin-top: 3px;
}

.menu {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.menu a {
  margin: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: black;
  text-decoration: none;
}
.menu a:hover {
  color: gray;
}

.main_block {
  margin: auto;
  margin-left: 5%;
}

.course_title {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
.course_title span {
  margin-left: 10px;
}

.title p {
  color: white;
  font-size: 60px;
  line-height: 57px;
  font-weight: 700;
}

.description p {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
}

.button {
  margin-top: 10%;
}
.button a {
  padding: 10px 60px;
  height: 50px;
  font-weight: 500;
  font-size: 20px;
  line-height: 95%;
  color: black;
  text-decoration: none;
  background: #FFFFFF;
  border-radius: 8px;
}
.button a img {
  margin-left: 20px;
}

.round {
  display: flex;
  padding: 150px;
}

.picture img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: radial-gradient(166.37% 708.4% at 134.35% -25.12%, #4CDA35 0%, #FAD867 24.27%, #55E19E 100%);
}

.description_round {
  display: flex;
  flex-direction: column;
}

.description_round_element p {
  font-weight: 600;
  font-size: 24px;
  line-height: 22.8px;
}
.description_round_element ul li {
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
}

.for p {
  font-weight: 500;
  font-size: 40px;
  line-height: 38px;
  text-align: center;
}

.for_row {
  display: flex;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
}

.for_element {
  width: 33.3333333333%;
  margin: 30px;
}
.for_element p {
  color: #7C7C7C;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
}

.for_element_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom-width: 1px;
  border-bottom-color: #C4C4C4;
  border-bottom-style: solid;
  padding: 20px 20px 20px 0;
}

.title_number {
  font-weight: 700;
  font-size: 60px;
  line-height: 57px;
  margin-right: 20px;
}

.title_text {
  font-weight: 400;
  font-size: 25px;
  line-height: 23.75px;
  margin: auto;
}

.form_ {
  display: flex;
  margin: 80px;
  height: 416px;
  border-radius: 10px;
  background: radial-gradient(166.37% 708.4% at 134.35% -25.12%, #4CDA35 0%, #FAD867 24.27%, #55E19E 100%);
}

.form_text {
  margin: 5%;
}

.form_title {
  height: 33.3333333333%;
  color: white;
  font-weight: 700;
  font-size: 40px;
  line-height: 38px;
}

.form_description {
  height: 33.3333333333%;
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.form_action {
  height: 33.3333333333%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.form_action input {
  color: white;
  background: rgba(0, 125, 215, 0);
  border: none;
  border-bottom: 2px solid white;
  margin: 10px;
}
.form_action input::placeholder {
  color: white;
  opacity: 1;
  /* Firefox */
}
.form_action button {
  font-family: "Montserrat", sans-serif;
  border-width: 0;
  text-decoration: none;
  background: #FFFFFF;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 19px;
  color: black;
  padding: 5px;
  margin: 10px;
}
.form_action .agreement {
  color: white;
  margin: 10px;
}

.include_consist {
  padding: 80px;
}
.include_consist .title {
  font-weight: 500;
  font-size: 40px;
  line-height: 38px;
  color: #181818;
  text-align: center;
}

.consist {
  display: flex;
  justify-content: center;
  text-align: center;
}
.consist .logo {
  padding: 10px;
}
.consist .title {
  font-weight: 400;
  font-size: 26px;
  line-height: 36px;
  color: #181818;
}
.consist p {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #181818;
}

.programm .title {
  font-weight: 500;
  font-size: 40px;
  line-height: 38px;
  color: #181818;
  text-align: center;
}

.programm_blocks {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  margin: 80px;
  height: 345px;
  border-radius: 10px;
  background: radial-gradient(166.37% 708.4% at 134.35% -25.12%, #4CDA35 0%, #FAD867 24.27%, #55E19E 100%);
}

.programm_left {
  text-align: left;
}

.programm_name {
  font-weight: 700;
  font-size: 42px;
  line-height: 39.9px;
  color: white;
  margin-bottom: 5%;
}

.programm_note {
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
  color: #0B6028;
  height: 33.3333333333%;
}

.programm_punkts ul li {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: white;
}

.programm_right {
  text-align: right;
  justify-content: space-between;
}

.programm_price_name {
  height: 33.3333333333%;
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  color: #FFFFFF;
}

.programm_price {
  height: 33.3333333333%;
  font-weight: bold;
  font-size: 50px;
  line-height: 95%;
  color: #FFFFFF;
}

.programm_button {
  height: 33.3333333333%;
}

.results {
  text-align: center;
}
.results .title {
  margin: 5%;
  font-weight: 500;
  font-size: 48px;
  line-height: 95%;
}

.collapsible {
  color: #181818;
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
}

.active, .collapsible:hover {
  background-color: white;
}

.content {
  padding: 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: black;
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
}